@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body{
    background: whitesmoke;
}
img{
    border-color: red;
}
h1{
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: red;
    text-decoration: underline;
}
p{
    text-align: justify;
    
}
/**************/
/*Seccion footer*/
/************************/
.social{
    text-align: center;
    
}
.ico{
    font-size: 20px;
    background: black;
    padding: 10px;
    color: white;
    border-radius: 50%;
}
.social{
    margin-top: 10px;
}
/*Estiles en Pies*/
.fondo-pies{
    background: black;
    padding: 30px 0px;
}
.pies{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pie{
    text-align: center;
    color: white;
}