<body>
<h1>NUESTROS MEJORES MODELOS</h1>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>YAMAHA YZF-R15</mat-card-title>
      <mat-card-subtitle>Motos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/modelo1.png" alt="Photo of a Shiba Inu" width="100%">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>PRECIO</button>
      <button mat-button>80.000 DOLARES</button>
    </mat-card-actions>
  </mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>YAMAHA YZF R1</mat-card-title>
      <mat-card-subtitle>Motos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/modelo2.jpg" alt="Photo of a Shiba Inu" width="100%">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>PRECIO</button>
      <button mat-button>90.000 DOLARES</button>
    </mat-card-actions>
  </mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>YAMAHA YZF R6</mat-card-title>
      <mat-card-subtitle>Motos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/modelo3.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>PRECIO</button>
      <button mat-button>85.000 DOLARES</button>
    </mat-card-actions>
  </mat-card>
<button class="btn-enviar">ver Mas</button>
 
</body> 
<div class="fondo-pies">
    <div class="pies">
        <div class="pie">
            <p> Desarrollado por Jesus Arotinco</p>
        </div>
        <div class="pie">
            <p>Todos los Derechos Reservados - 2022</p>
            <div class="social">
                <label class="ico fa-brands fa-facebook-square"></label>
                <label class="ico fa-brands fa-twitter-square"></label>
                <label class="ico fa-brands fa-instagram-square"></label>
            </div>
        </div>
    </div>
</div> 