<body>
    <h1>NUESTRA UBICACION</h1>
    <p>  Encuentra todas las tiendas de Yamaha en Tiendeo. Aqui podras ver toda la informacion de las tiendas de Yamaha en las ciudades mas importantes. Entra en la que te interese para ver la direccion, los horarios o el telefono de esa sucursal y todas las ofertas disponibles online. Ademas, navega por el ultimo catalogo de Yamaha "Modelos actuales" valido del 20/10/2021 al 26/06/2022 y no pares de ahorrar.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124870.76398901432!2d-77.07404755128873!3d-12.0289641740059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c631f923fe23%3A0x7e3d0d92946c94ef!2sYamaha%20Biker%20House!5e0!3m2!1ses!2spe!4v1658701625984!5m2!1ses!2spe" width="100%" height="810" style="border: 1px;;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <footer>
        <p>Todos los Derechos Reservados a &copy;Jesus Arotinco</p>
    </footer>
</body>
