<body>
<section id="contacto">
    <h3 class="titulo-seccion">Contacto</h3>
    <div class="contenedor-form">
        <form action="https://formsubmit.co/jesuarotinco@gmail.com" method="POST">
            <input type="hidden" name="_subject" value="New email Portafolio!">

            <div class="fila mitad">
                <input type="text" placeholder="Nombre Completo *" class="input-mitad">
                <input type="email" placeholder="Dirección de Email" class="input-mitad">
            </div>
            <div class="fila">
                <input type="text" placeholder="Tema..." class="input-full">
            </div>
            <div class="fila">
                <textarea name="" id="" cols="30" rows="10" placeholder="Tu Mensaje..." class="input-full"></textarea>
            </div>

            <input type="submit" value="Enviar Mensaje" class="btn-enviar">
        </form>
    </div>
</section>
<!--Seccion footer-->
<div class="fondo-pies">
    <div class="pies">
        <div class="pie">
            <p> Desarrollado por Jesus Arotinco</p>
        </div>
        <div class="pie">
            <p>Todos los Derechos Reservados - 2022</p>
            <div class="social">
                <label class="ico fa-brands fa-facebook-square"></label>
                <label class="ico fa-brands fa-twitter-square"></label>
                <label class="ico fa-brands fa-instagram-square"></label>
            </div>
        </div>
    </div>
    </div>
</body>