<body>
<h1>NUESTRA GALERIA</h1>
<mat-tab-group class="inicio" preserveContent>
    <mat-tab class="subtitulo" label="La Mejor Moto Yamaha de la Historia">
      <img width="100%" height="785" src="../../assets/img/img1.png" alt="">
    </mat-tab>
    <mat-tab class="subtitulo" label="Nuestro Canal de Youtube">
      <img width="100%" height="785" src="../../assets/img/img2.jpg" alt="">
    </mat-tab>
    <mat-tab class="subtitulo" label="Nuestro Canal de Youtube">
        <img width="100%" height="785" src="../../assets/img/img3.png" alt="">
    </mat-tab>
    <mat-tab class="subtitulo" label="La Mejor Moto Yamaha de la Historia">
        <img width="100%" height="785" src="../../assets/img/img4.png" alt="">
    </mat-tab>
    <mat-tab class="subtitulo" label="La Mejor Moto Yamaha de la Historia">
        <img width="95%" height="785" src="../../assets/img/img5.png" alt="">
    </mat-tab>
    <mat-tab class="subtitulo" label="La Mejor Moto Yamaha de la Historia">
        <img width="95%" height="785" src="../../assets/img/img6.jpg" alt="">
    </mat-tab>
  </mat-tab-group>
<!--Seccion footer-->
<div class="fondo-pies">
    <div class="pies">
        <div class="pie">
            <p> Desarrollado por Jesus Arotinco</p>
        </div>
        <div class="pie">
            <p>Todos los Derechos Reservados - 2022</p>
            <div class="social">
                <label class="ico fa-brands fa-facebook-square"></label>
                <label class="ico fa-brands fa-twitter-square"></label>
                <label class="ico fa-brands fa-instagram-square"></label>
            </div>
        </div>
    </div>
    </div>
</body>