<mat-toolbar class="principal" >
<span > YAMAHA </span>
    <a mat-button routerLink="index">Inicio</a>
    <a mat-button routerLink="nosotros" >Nosotros</a>
    <a mat-button routerLink="modelos" >Modelos</a>
    <a mat-button routerLink="promociones" >Promociones</a>
    <a mat-button routerLink="yamalude" >Yamalude</a>
    <a mat-button routerLink="galeria" >Galeria</a>
    <a mat-button routerLink="ubicacion" >Nuestra Ubicacion</a>
    <a mat-button routerLink="contactenos" >Contactenos</a>
</mat-toolbar>
<img src="../../assets/img/principal.webp" alt="" width="100%">

