<body> 

<h1>Bienvenidos a la Tienda  <span>YAMAHA</span></h1>
<p>Con el tiempo un motociclista aprende la diferencia entre «conocer el camino» y «respetar el camino»</p>

<mat-tab-group class="inicio" preserveContent>
  <mat-tab class="subtitulo" label="La Mejor Moto Yamaha de la Historia">
    <iframe width="100%" height="785" src="https://www.youtube.com/embed/GJh5hM__MDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </mat-tab>
  <mat-tab class="subtitulo" label="Nuestro Canal de Youtube">
    <img width="100%" height="785" src="../../assets/img/youtube.png" alt="">
  </mat-tab>
</mat-tab-group>
<footer>
    <p>Todos los Derechos Reservados a &copy;Jesus Arotinco</p>
</footer>
</body>


                                                                                                                                                                