<h1>YAMALUDE</h1>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>10W 50</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/yamalude1.jpg" alt="">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>PRECIO</button>
      <button mat-button>nex--></button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>15W 30</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/yamalude1.jpg" alt="">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>PRECIO</button>
      <button mat-button>nex--></button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>15W 50</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/yamalude1.jpg" alt="">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>PRECIO</button>
      <button mat-button>nex--></button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>20W 50</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/yamalude1.jpg" alt="">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>PRECIO</button>
      <button mat-button>nex--></button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>2R RACE</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/yamalude1.jpg" alt="">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>PRECIO</button>
      <button mat-button>nex--></button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>2T SEMI</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/yamalude1.jpg" alt="">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>PRECIO</button>
      <button mat-button>nex--></button>
    </mat-card-actions>
</mat-card>
<div class="fondo-pies">
    <div class="pies">
        <div class="pie">
            <p> Desarrollado por Jesus Arotinco</p>
        </div>
        <div class="pie">
            <p>Todos los Derechos Reservados - 2022</p>
            <div class="social">
                <label class="ico fa-brands fa-facebook-square"></label>
                <label class="ico fa-brands fa-twitter-square"></label>
                <label class="ico fa-brands fa-instagram-square"></label>
            </div>
        </div>
    </div>
    </div>